{% extends 'base.html.twig' %}

{% block title %}Connexion - Game Diary{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/login_styles.css') }}">
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% include '/_partials/_flashes.html.twig' %}


    <h1>Connectez-vous </h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email"  autofocus placeholder="sonic59@gmail.com" required>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="******" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi ?
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
</form>
{% endblock %}
