{% extends 'base.html.twig' %}

{% block title %}Inscription - Game Diary{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/register_styles.css') }}">
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous </h1>
     {% include '/_partials/_flashes.html.twig' %}
    {{ form_end(form) }}

    {% block javascripts %}
        <script src="https://www.google.com/recaptcha/api.js?render=6LfpDW0qAAAAAEBP3_R2TRSQACfj53w2tXD6gMhj"></script>
        <script src="{{ asset('js/recaptcha.js') }}"></script>
    {% endblock %}
{% endblock %}
