{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue ! </h1>
    {% include '/_partials/_flashes.html.twig'%}
</div>
{% endblock %}
