@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

$primary-blue: #232944;
$secondary-blue: #41436f;
$cream: navajowhite;
$rink: #F598E5;
$font-family-game: 'Play';