@import '_variables.scss';
body {
  background-color: $primary-blue;
  color: $cream;
  font-family: $font-family-game;

  h1{
    text-align: center;
  }

  h2{
    text-align: left;
    padding-left: 10px;
  }
a{
  text-decoration: none;
  color: $cream;
}
  div.game_buttons{
    width: 250px;
    display: flex;
    margin-left: 10px;
    flex-direction: column;

    button{
      width: 250px;
      text-align: center;
      cursor: pointer;
      margin: 10px auto;
      padding: 7px;
      background-color: #353b5f;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: large;
    }
    button:hover{
      background-color: $secondary-blue;
      color: $cream;
    }
  }
  svg{
    width: 45px;
    padding: 6px;
    vertical-align: middle;
  }

  div.loader{
    img{
      margin: 0 auto;
      width: 20%;
      height: 20%;
    }
  }

  .not-visible{
    display: none;
  }

}
