@import '_variables.scss';

body {
  text-align: center;

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
    color: white;
    width: fit-content;
    margin: 0 auto;
  }

  h3, h4 {
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  background-color: $primary-blue;
  color: $cream;
  font-family: $font-family-game;

  header {
    border-bottom: 1px solid $cream;
  }

  .header-image {
    width: 60%;
    height: 600px;
    margin-bottom: 3rem;
    border: 1px solid white;
  }

  .welcome {
    color: white;
    text-align: center;
    font-size: large;
  }

  svg {
    height: 25px;
    color: white;

    &:hover {
      scale: 1.15;
    }
  }

  .rating-stars {
    display: inline-block;
  }

  .star {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
  }

  /* Lorsque l'étoile est sélectionnée (après clic) */
  .star.selected {
    color: gold;
  }

  .games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;

    .game {
      margin: 5px;
      width: 350px;
      text-align: center;

      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.4rem;
      }

      img {
        width: 200px;
        height: 250px;
        border: 1px solid white;

        &:hover {
          scale: 1.05;
        }
      }

      .game-name {
        font-weight: bold;
        color: $rink;

        &:hover {
          color: white
        }
      }
    }
  }

  #scrollToTopBtn {
    display: none;
    position: fixed;
    background-color: #4b537a;
    border: 3px solid $cream;
    border-radius: 150px;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .alert-danger {
    color: #fc8888;
  }

  .alert-success {
    color: #80b080;
  }

  .reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    .review {
      border: 1px solid $cream;
      padding-top: 10px;
      margin: 5px;
      width: 350px;
      span{
        color: white;
      }

      img {
        width: 200px;
        height: 250px;
        border: 1px solid white;
      }
      button.like {
        background-color: transparent;
        border: none;
        svg {
          color: #7aa0c4;
        }
      }

      button.dislike {
        border: none;
        background-color: transparent;

        svg {
          color: #d25b5b;
        }
      }
    }
  }

  footer {
    hr {
      border-color: $cream;
    }

    text-align: left;
    font-size: 1.2rem;
    padding-left: 10px;

    a {
      text-decoration: none;

      p {
        text-align: right;
        padding-right: 10px;
        color: $rink;
      }
    }
  }
}

/* Place the media query outside the body rule */
@media screen and (max-width: 1024px) {
  body{


  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .header-image {
    display: none;
  }
}
}
@media screen and (max-width: 768px){
  body{
    h3,
    h4{
      font-size: 1.2rem;
    }


  }
}
