@import 'variables.scss';

body {
  button.like {
    background-color: transparent;
    border: none;
  }
  button.liked{
    svg {
      color: #7aa0c4;
    }
  }

  button.dislike {
    border: none;
    background-color: transparent;

  }

  button.disliked{
    svg {
      color: #d25b5b;
    }
  }
  .categories-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;

    .category {
      cursor: pointer;
      width: 250px;
      background-color: $secondary-blue;
      text-align: center;
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 15px;
    }

  }

  .reset-category-filter {
    width: fit-content;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    border: 3px solid $secondary-blue;
    text-transform: uppercase;
    font-weight: bold;
  }
  .category:hover,
  .reset-category-filter:hover{
    background-color: #2d345b;
    color: white;
  }
.search-filter{
  display: flex;
  justify-content: left;
  #search-game{
    width: 200px;
    height: 2.5rem;
    padding: 5px;
    margin: 15px;
    border-radius: 7px;
    border: 1px solid $cream;
    background-color: $primary-blue;
    color: $cream;

  }
}

}