@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-game;
}

.nav {
  width: 100%;
  background-color: $primary-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > .nav-header {
  padding-left: 1rem;
}

.nav > .nav-header > .nav-title > a > img {
  width: 7rem;
  height: 7rem;
  text-align: left;
}

.nav > .nav-list {
  display: flex;
  gap: 2rem;
  padding-right: 30px;
}

.nav > .nav-list > li {
  list-style-type: none;
}

.nav > .nav-list > li a {
  font-weight: 900;

  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    padding: 1rem;
  }
  .nav > .nav-header {
    align-self: flex-start;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: $primary-blue;
    height: 0;
    transition: all 0.3s ease-in;
    top: 28px;
    left: 0;
    overflow: hidden;
    margin-top: 12px;
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
}

.nav > .nav-list > li a.active {
  color: $rink;
}