<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href='{{ asset('images/logo.png') }}'>
    <link rel="stylesheet" href="{{ asset('build/navbar_styles.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app_styles.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<header>
    {% include '_partials/_navbar.html.twig' %}
</header>

{% block body %}{% endblock %}

<!-- Ton script doit être ici, juste avant la fermeture de la balise body -->
<script src="{{ asset('js/main.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
<footer>
    <hr>
    <p>FORT MILHAN</p>
    <p>GAME DIARY | 2024</p>
    <a href="/mentions-legales">
        <p>Mentions légales</p>
</footer>
</html>
