{% extends 'base.html.twig' %}

{% block title %}Mentions Légales - Game Diary{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/mentions.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Mentions Légales</h1>

        <h2>Définitions</h2>
        <p><b>Client :</b> Toute personne physique ou morale visitant le site.</p>
        <p><b>Prestations et Services :</b> Le site <a href="https://gameDiary.com">https://gameDiary.com</a> met à disposition des clients divers services.</p>
        <p><b>Contenu :</b> Ensemble des éléments constituant l’information présente sur le site, notamment textes, images et vidéos.</p>
        <p><b>Informations clients :</b> Données personnelles susceptibles d’être détenues par <a href="https://gameDiary.com">https://gameDiary.com</a> pour la gestion de votre compte, des relations clients, ainsi qu’à des fins d’analyses et de statistiques.</p>
        <p><b>Utilisateur :</b> Internaute se connectant et utilisant le site.</p>
        <p><b>Informations personnelles :</b> Les informations qui permettent, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent.</p>

        <h2>1. Présentation du site</h2>
        <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site <a href="https://gameDiary.com">https://gameDiary.com</a> l'identité des différents intervenants :</p>
        <ul>
            <li><b>Propriétaire :</b> Milhan Fort</li>
            <li><b>Responsable publication :</b> Milhan Fort – <a href="mailto:milhan@gmail.com">milhan@gmail.com</a></li>
            <li><b>Webmaster :</b> Milhan Fort – <a href="mailto:milhan@gmail.com">milhan@gmail.com</a></li>
            <li><b>Hébergeur :</b> o2switch – Chemin des Pardiaux, 63000 Clermont-Ferrand, France.</li>
        </ul>

        <h2>2. Conditions générales d’utilisation</h2>
        <p>L'utilisation du site <a href="https://gameDiary.com">https://gameDiary.com</a> implique l'acceptation pleine et entière des conditions générales d'utilisation décrites ici.</p>

        <h2>3. Description des services</h2>
        <p>Le site <a href="https://gameDiary.com">https://gameDiary.com</a> a pour objet de fournir des informations concernant les activités de l'entreprise.</p>

        <h2>4. Limitations contractuelles sur les données techniques</h2>
        <p>Le site utilise la technologie JavaScript. L'utilisateur s'engage à utiliser un matériel récent, sans virus et avec un navigateur à jour.</p>

        <h2>5. Propriété intellectuelle</h2>
        <p><a href="https://gameDiary.com">https://gameDiary.com</a> est propriétaire des droits de propriété intellectuelle sur tous les éléments accessibles sur le site.</p>

        <h2>6. Limitation de responsabilité</h2>
        <p><a href="https://gameDiary.com">https://gameDiary.com</a> ne peut être tenu responsable des dommages directs et indirects causés au matériel de l'utilisateur.</p>

        <h2>7. Gestion des données personnelles</h2>
        <p><a href="https://gameDiary.com">https://gameDiary.com</a> s’engage à respecter les dispositions légales en vigueur concernant la collecte des données personnelles.</p>

        <h2>8. Notification d’incident</h2>
        <p>En cas de brèche de sécurité, nous avertirons les utilisateurs concernés.</p>

        <h2>9. Liens hypertextes et cookies</h2>
        <p>Le site peut contenir des liens hypertextes vers d'autres sites, sans possibilité de vérification par l'éditeur.</p>

        <h2>10. Droit applicable</h2>
        <p>Tout litige en relation avec l'utilisation du site <a href="https://gameDiary.com">https://gameDiary.com</a> est soumis au droit français.</p>
    </div>
{% endblock %}
